body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3d0111;
    color: #bc4d15;
    font-family: "Snell Roundhand", "Brush Script MT", cursive;
}

#timer {
    font-size: 5rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

hr {
    width: 250px;
    border: none;
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-top: 20px;
    margin-bottom: 0px;
}

#logContainer {
    width: 260px;
    height: 120px;
    overflow-y: auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 2rem;
    background: #3d0111;
}

#logContent {
    margin-top: auto;
}

.log-entry {
    text-align: center;
    opacity: 0.85;
}

.controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

button {
    width: 60px; 
    height: 60px;
    padding: 0; 
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.076);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.15s ease;
}

button:hover {
    transform: scale(1.1);
}

button img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}